# Dependencias
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt

# Variables de entorno
.env
.env.local
.env.production
.env.development

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Archivos de build
dist/
build/
*.exe
desktop-app/__pycache__/